*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




.outer{
	width: 100vw;
	height: 100vh;
	background-color: #CFD8DC;


}
#bar{
	width: 30vw;
	height: 3vh;
	
	position: absolute;
	margin-top: 20vh;
	margin-left: 33vw;
}
#progress{
	width: 3vw;
	height: 3vh;
	background-color: whitesmoke;
	position: absolute;
	margin-top: 20vh;
	margin-left: 44vw;
}
.inner{
	width: 50vw;
	height: 60vh;
	background-color: white;
	position: absolute;
	margin-top: 25vh;
	margin-left: 25vw;
	padding-left: 30px;
	padding-top: 20px;
}

.inner li{
	font-size: 20px;
	margin: 30px;
	display: inline-block;
	padding-left: 20px;
	border: medium;
	background-color: #FFC0CB;


}
.inner h2{
	font-size: 30px;
	margin: 10px;
}
button{
  background-color: #1fc600; 
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 280px;
  margin-top:85vh;
  position: static;

  }


 button:hover{
  	background-color: 	#063b00;
  }

  input{
  	cursor: pointer;
  }
#score{
	
	height: 60vh;
	width: 17vw;
	background-color: #FFE5B4;
	float: right;
	margin-top: 25vh;
	margin-right: 50px;
	font-size: 5vh;
	color: black;
	}

	
.score_div{
	display: none;
}
.prev{
	display: none;
}


.sub{
	display: none;
}
.try{
	display: none;
}




#ins{
	
	height: 60vh;
	width: 17vw;
	background-color: #FFE5B4;
	float: left;
	margin-top: 25vh;
	margin-left: 50px;
	font-size: 5vh;
	color: black;
	}
.subins{
		position: relative;
		font-size: 25px;
		margin-left: 25px;
	}

.scorecard{
	position: absolute;
	margin: 10px;
	padding: 40px;
	margin-top: 30px;
}
h4,h3{
	text-align: center;
}